{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
{% block navigation %}
<nav class="flex flex-row justify-evenly items-center">
    <div class="py-4 hover:text-purple-500"><a href="{{ path('app') }}">LOGO</a></div>
    <ul class="flex flex-row py-4 justify-evenly items-center">


        <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold hover:text-purple-500 font-normal hover:font-bold">
            <a href="{{ path('planets') }}">Planets</a>
        </li>
        <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
            <a href="{{ path('galaxies') }}">Galaxies</a>
        </li>
        <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
            <a href="{{ path('officers') }}">Officers</a>
        </li>
        <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
            <a href="{{ path('natural_satellites') }}">Natural satellites</a>
        </li>
        <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
            <a href="{{ path('artificial_satellites') }}">Artifial satellites</a>
        </li>

        {% if not app.user %}
            <li class="text-white bg-purple-700
     hover:bg-purple-500
     focus:ring-4 focus:ring-purple-300
     font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                <a href="{{ path('app_login')  }}">Login</a>
            </li>
        {% else %}

            <li class="text-white bg-purple-700
     hover:bg-purple-500
     focus:ring-4 focus:ring-purple-300
     font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 hover:content-['{{app.user.username}}']">
                <a href="{{ path('app_logout') }}">logout</a>
            </li>
            </span>

        {% endif %}
    </ul>

</nav>

{% endblock %}



{% endblock %}
