{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    {% block navigation %}
        <nav>
            <ul>

                {% if not app.user %}
                    <li>
                        <a href="{{ path('app_login')  }}">Login</a>
                    </li>
                {% else %}
                    <span class="flex justify-between">{{ app.user.username }}
                    <li>
                        <a href="{{ path('app_logout') }}">logout</a>
                    </li>
                    </span>

                {% endif %}
                <li class="flex justify-between">
                        <a href="{{ path('planets') }}">Planets</a>
                    </li>
                <li class="flex justify-between">
                        <a href="{{ path('galaxies') }}">Galaxies</a>
                    </li>
                <li class="flex justify-between">
                    <a href="{{ path('officers') }}">Officers</a>
                </li>


            </ul>
        </nav>
    {% endblock %}



{% endblock %}
