{% extends 'base.html.twig' %}

{% block title %}Letter{% endblock %}

{% block body %}

<!-- lettre de lien vers character sender -->
<div class="wrapper">
    <header>

        {% include 'app/navigation.html.twig' %}
        <a href="{{ path('app_letter_crud_index') }}">Retour à la liste des lettres</a>
<!-- de à avec lien vers le character-->
   

    </header>
    <main>
        <div class="letter">
            <div class="letter__header">
                <div class="letter__header__from" data-title="{{ letter.sender.name }}</a>
                    {{letter.sender.description}}">
                    <p>De</p>
                    <a href="{{ path('app_character_crud_show', {'id': letter.sender.id}) }}">{{ letter.sender.name }}</a>
                </div>
                <div class="letter__header__to" data-title="{{letter.receiver.description}}">
                    <p>À</p>
                    <a href="{{ path('app_character_crud_show', {'id': letter.receiver.id}) }}">{{ letter.receiver.name }}</a>
                </div>
          
            </div>
            <div class="letter__content">
                <p>{{ letter.content }}</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}
