{% extends 'base.html.twig' %}

{% block title %}Hello OfficerController!{% endblock %}

{% block body %}
<div class="container">
    {% block navigation %}
    <nav class="flex flex-row justify-evenly items-center">
        <div class="py-4 hover:text-purple-500"><a href="{{ path('app') }}">LOGO</a></div>
        <ul class="flex flex-row py-4 justify-evenly items-center">


            <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
                <a href="{{ path('planets') }}">Planets</a>
            </li>
            <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
                <a href="{{ path('galaxies') }}">Galaxies</a>
            </li>
            <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
                <a href="{{ path('officers') }}">Officers</a>
            </li>
            <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
                <a href="{{ path('natural_satellites') }}">Natural satellites</a>
            </li>
            <li class="flex justify-between px-4 hover:text-purple-500 font-normal hover:font-bold">
                <a href="{{ path('artificial_satellites') }}">Artifial satellites</a>
            </li>

            {% if not app.user %}
            <li
                class="text-white bg-purple-700
             hover:bg-purple-500
             focus:ring-4 focus:ring-purple-300
             font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                <a href="{{ path('app_login')  }}">Login</a>
            </li>
            {% else %}

            <li
                class="text-white bg-purple-700
             hover:bg-purple-500
             focus:ring-4 focus:ring-purple-300
             font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 hover:content-['{{app.user.username}}']">
                <a href="{{ path('app_logout') }}">logout</a>
            </li>


            {% endif %}
        </ul>

    </nav>

    {% endblock %}
    <h1 class="my-3 text-center text-4xl">galaxies</h1>
     <div class="flex justify-evenly items-center">
        
        {% for galaxy in galaxies %}

        <div>

            <div class="flex justify-between flex-col items-center">
                <a href="{{ path('galaxies_details', {id: galaxy.id}) }}" class="transition-all ease-in-out duration-200 group p-12 hover:bg-purple-500">
                    <div class="card-body">
                    <img src="https://via.placeholder.com/200x150" alt="{{ galaxy.name }}" class="card-img-top">
                        <h5 class="text-center py-4">{{ galaxy.name }}</h5>
                    </div>
                    </a>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}