{% extends 'base.html.twig' %}

{% block title %}Hello OfficerController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-4">Officers</h1>
        {% block navigation %}
            <nav>
                <ul>

                    {% if not app.user %}
                        <li>
                            <a href="{{ path('app_login')  }}">Login</a>
                        </li>
                    {% else %}
                        <span class="flex justify-between">{{ app.user.username }}
                    <li>
                        <a href="{{ path('app_logout') }}">logout</a>
                    </li>
                    </span>

                    {% endif %}
                    <li class="flex justify-between">
                        <a href="{{ path('planets') }}">Planets</a>
                    </li>
                    <li class="flex justify-between">
                        <a href="{{ path('galaxies') }}">Galaxies</a>
                    </li>
                    <li class="flex justify-between">
                        <a href="{{ path('officers') }}">Officers</a>
                    </li>
                    <li class="flex justify-between">
                        <a href="{{ path('natural_satellites') }}">Natural satellites</a>
                    </li>


                </ul>
            </nav>
        {% endblock %}
        <div class="row">
            {% for officer in officers %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="https://via.placeholder.com/200x150" alt="{{ officer.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ officer.name }}</h5>
                            <h5 class="card-title">{{ officer.getSpacecraftRelated }}</h5>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('officers_details', {id: officer.id}) }}" class="btn btn-dark">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}