{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
   <div class="wrapper">
    <header>
        {% include 'app/navigation.html.twig' %}
        </header>
    <div class="space"></div>
    <h2>Description</h2>

    <div class="heroed">
        <p>{{character.description | capitalize }}</p>
        {% block images %}
        <!-- image dans le dossier img/ -->
        {% if character.name == "Marquise de Merteuil" %}
        <img src="/img/mertueil.png" alt="Image">
        {% elseif character.name == "Vicomte de Valmont" %}
        <img src="/img/valmont.png" alt="Image">
        {% elseif character.name == "Présidente de Tourvel" %}
        <img src="/img/tourvel.png" alt="Image">
        {% elseif character.name == "Mme de Volanges" %}
        <img src="/img/mmevolanges.png" alt="Image">
        {% elseif character.name == "Mme de Rosemonde" %}
        <img src="/img/rosemonde.jpeg" alt="Image">
        {% elseif character.name == "Mme de Tourvel" %}
        <img src="/img/tourvel.png" alt="Image">
        {% elseif character.name == "Mme de Merteuil" %}
        <img src="/img/mertueil.png" alt="Image">
        {% elseif character.name == "Cécile de Volanges" %}
        <img src="/img/cecile.png" alt="Image">
        {% elseif character.name == "Comte de Gercourt" %}
        <img src="/img/gercourt.png" alt="Image">
        {% elseif character.name == "Sophie Carnay" %}
        <img src="/img/sophie.jpeg" alt="Image">
        {% elseif character.name == "Victoire" %}
        <img src="/img/victoire.jpeg" alt="Image">
        {% elseif character.name == "Azolan" %}
        <img src="/img/azolan.jpeg" alt="Image">
        {% elseif character.name == "Le chevalier de Belleroche" %}
        <img src="/img/belleroche.jpeg" alt="Image">
        {% elseif character.name == "Prévan" %}
        <img src="/img/prévan.jpeg" alt="Image">
        {% elseif character.name == "Maréchale de..." %}
        <img src="/img/marechale.jpeg" alt="Image">
        {% elseif character.name == "Bertrand" %}
        <img src="/img/bertrand.jpeg" alt="Image">
        {% elseif character.name == "Chevalier Danceny" %}
        <img src="/img/dancecy.jpeg" alt="Image">
        {%endif%}
        {% endblock %}
    </div>
    <h1 class="info">{{character.name}}</h1>
   
    <!-- ul for each letter character sent -->

    <h2>Letters envoyées : {{letters_sent|length}}</h2>
    {% if letters_sent|length == 0 %}
    <p>Vous n'avez pas encore envoyé de lettres</p>
    {%else%}
    <div class="cols">
        {% for letter in letters_sent %}
          <div class="col">
            <div class="container">
              <div class="front" style="background-image: url('https://images.unsplash.com/photo-1550404065-b27f9dcdf8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80')">
                <div class="inner">
                  <p>{{ letter.title | slice (0,-4)}}</p>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <!-- trim the last 3 characters of letter.title -->
                  <a class="readMore" href="{{ path('app_letter_crud_show', {'id': letter.id}) }}">Lire la suite</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

        <h2>Letters reçues : {{letters_received|length}}</h2>
        {% if letters_received|length == 0 %}
        <p>Vous n'avez pas encore reçu de lettres</p>
        {%else%}
        <div class="wrapper">
            <div class="cols">
              {% for letter in letters_received %}
                <div class="col">
                  <div class="container">
                    <div class="front" style="background-image: url('https://images.unsplash.com/photo-1550404065-b27f9dcdf8c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80')">
                      <div class="inner">
                        <p>{{ letter.title | slice (0,-4)}}</p>
                      </div>
                    </div>
                    <div class="back">
                      <div class="inner">
                        <!-- trim the last 3 characters of letter.title -->
                        <a class="readMore" href="{{ path('app_letter_crud_show', {'id': letter.id}) }}">Lire la suite</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
          <!-- liste l'ensemble des intéractions avec les autres characters -->
          <!-- set interactions to have letters_sent & letters_received -->
  
    <!-- ul for each letter character received -->
 
    
   
   </div>
{% endblock %}
